<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Badge Generator</title>
</head>
<div id="root">
<body>
    <center>
        <div id="Badge" name="Badge">
            <img name="avatar" src="<%=imgurl%>" alt="Preview" height=150 width=150 style="border-radius:50%"/ >
            <pre style="font-size:20px">
            Dear <%=name%>, <br />

            Thank you for your invaluable contribution to the open-source community.<br /> As a token of appreciation, this badge is being awarded to you. <br />

            Happy coding!!!!!
            </pre>
        </div>
    </center>
</body>
</div>
</html>