<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Badge Generator</title>
</head>
<div id="root">
<body>
    <center>
        <h1 style="color:red">Get your Github Badge today</h1>
        <form method="post" action="/avatar">
            <input type="text" name="username" placeholder="Enter your name here" required />
            <input type="submit" value="Generate Badge" />
        </form>

        <div id="Badge" name="Badge" style="margin:30px;padding:50px;border:2px solid red;background-color:black;color:white;font-size:30px;width:70%">
            <img name="avatar" src="<%=imgurl%>" alt="Preview Image" height=180 width=180 style="border-radius:50%"/ >
            <p>Dear <i style="color:red"><%=name%></i>,</p>
            <p>Thank you for your invaluable contribution to the open-source community.</p>
            <p>As a token of appreciation, this badge is being awarded to you.</p>
            <p>Happy coding!!!!!</p>
        </div>
        <form method="post" action="/download">
            <input type="submit" value="Download Badge" />
        </form>
    </center>
</body>
</div>
</html>